################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C969/Log.txt
/C969/AppointmentTypesReport.txt
/C969/ConsultantAppointmentsReport.txt
/C969/CustomerAppointmentsReport.txt
